body {
    background-image: url("/assets/css/burger.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 2em;
    border-radius: .5em;
    margin-top: 4em;
}

form > button.submitBtn {
    background-color: #ee6e73;
}

form > button.submitBtn:hover {
    background-color: #ee5d62;
}

ul > li > a.devourBtn {
    background-color: #ee6e73;
    margin-left: 1em;
}

ul > li > a.devourBtn:hover {
    background-color: #ee5d62;
}

label.active {
    color: #000000;
    font-size: 1em;
}